.card {
    margin: 20px 0;
}

.card a, .card a:hover, .card a:visited, .card a:link, .card a:active {
    color: black;
    text-decoration: none;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
}
