{% extends 'base_detail.html' %}
{% load static %}

{% block title %}<title>J-Comp ~~~ {{ adjective.hiragana }}</title>{% endblock %}

{% block body %}

<div class="container detail slide-in-top" align="center">
    <div>
        <a class="btn btn-primary" href="{% url 'home_view' %}">Inicio</a>
        <a class="btn btn-primary" href="{% url 'vocabulary_list' %}">Vocabulario</a>
        <a class="btn btn-primary" href="{% url 'adjectives_list' %}">Adjetivos</a>
    </div>
    <div class="detail-card col-md-8">
        <div class="card">
            <div class="card-header bg-{{ adjective.type_color }} d-flex  flex-row justify-content-between">
                <h3 class="card-title"><b id="wordName" data-toggle={{ adjective.romaji }}>{{ adjective.hiragana }}</b></h3>
                <button class="btn btn-outline-secondary" onClick="toggleRomKan()"><img src="{% static "romkan.png" %}" width="35" height="35"></button>
            </div>
            <div class="card-body text">
                <h4 class="card-text"><i>{{ adjective.translation }}</i></h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}