{% extends 'base_list.html' %}

{% block title %}<title>J-Comp Adjectives</title>{% endblock %}

{% block list_title %}
<div align="center">
    <h1>けいようし</h1>
</div>
{% endblock %}

{% block table_body %}
<tbody>
    {% for adjective in adjectives_list %}

    <tr class="table-{{ adjective.type_color }}">
        <th  scope="row"><a href="{% url 'adjective_detail' adjective.slug %}"> {{ adjective.hiragana }} </a></th>
        <td>{{ adjective.translation }}</td>
        <td>{{ adjective.type }}</td>
        <td>{% if adjective.source %} {{ adjective.source }} {% endif %}</td>
    </tr>

    {% endfor %}
</tbody>
{% endblock %}