{% extends 'base_list.html' %}

{% block title %}<title>J-Comp Verbs</title>{% endblock %}

{% block list_title %}
<div align="center">
    <h1>どうし</h1>
</div>
{% endblock %}

{% block table_body %}
<tbody>
    {% for verb in verbs_list %}

    <tr class="table-{{ verb.type_color }}">
        <th  scope="row"><a href="{% url 'verb_detail' verb.slug %}"> {{ verb.hiragana }} </a></th>
        <td>{{ verb.translation }}</td>
        <td>{{ verb.type }}</td>
        <td>{% if verb.source %} {{ verb.source }} {% endif %}</td>
    </tr>

    {% endfor %}
</tbody>
{% endblock %}