{% extends 'base_detail.html' %}
{% load static %}

{% block title %}<title>J-Comp ~~~ {{ verb.hiragana }}</title>{% endblock %}

{% block body %}

<div class="container detail slide-top" align="center">
    <div>
        <a class="btn btn-primary" href="{% url 'home_view' %}">Inicio</a>
        <a class="btn btn-primary" href="{% url 'vocabulary_list' %}">Vocabulario</a>
        <a class="btn btn-primary" href="{% url 'verbs_list' %}">Verbos</a>
    </div>
    <div>
        <div class="detail-card col-md-8">
            <div class="card">
                <div class="card-header bg-{{ verb.type_color }} d-flex flex-row justify-content-between">
                    <h3 class="card-title"><b id="wordName" data-toggle={{ verb.romaji }}>{{ verb.hiragana }}</b></h3>
                    <button class="btn btn-outline-secondary" onClick="toggleRomKan()"><img src="{% static "romkan.png" %}" width="35" height="35"></button>
                </div>
                <div class="card-body text">
                    <h4 class="card-text"><i>{{ verb.translation }}</i></h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h4>Conjugaciones</h4></div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">どうし</th>
                            <th scope="col">ーます</th>
                            <th scope="col">ーない</th>
                            <th scope="col">ーかった</th>
                            <th scope="col">ーなかった</th>
                            <th scope="col">ーて</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-{{ verb.type_color }}">
                            <th scope="row">{{ verb.hiragana }}</th>
                            <td>{{ conjugator.to_masu }}</td>
                            <td>{{ conjugator.to_nai }}</td>
                            <td>{{ conjugator.to_katta }}</td>
                            <td>{{ conjugator.to_nakatta }}</td>
                            <td>{{ conjugator.to_te }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}