{% extends 'base_list.html' %}

{% block title %}<title>J-Comp Vocabulary</title>{% endblock %}

{% block list_title %}
<div align="center">
    <h1>ごい</h1>
</div>
{% endblock %}

{% block table_body %}
<tbody>
    <div id="app"></div>
    {% for word in words_list %}

    <tr class="table-{{ word.type_color }}">
        <th  scope="row">
            {% if word.type == "Palabra" %}
                <a href="{% url 'word_detail' word.slug %}"> {{ word.hiragana }}</a>
            {% elif word.type == "Adjetivo" %}
                <a href="{% url 'adjective_detail' word.slug %}"> {{ word.hiragana }}</a>
            {% elif word.type == "Verbo" %}
                <a href="{% url 'verb_detail' word.slug %}"> {{ word.hiragana }}</a>
            {% endif %}
        </th>
        <td>{{ word.translation }}</td>
        <td>{{ word.type }}</td>
        <td>{% if word.source %} {{ word.source }} {% endif %}</td>
    </tr>

    {% endfor %}
</tbody>
{% endblock %}
