{% extends 'base_list.html' %}

{% block title %}<title>J-Comp Vocabulary</title>{% endblock %}

{% block body %}

<div align="center">
    <h1>ごい</h1>
</div>

<div>

    {% include 'includes/paginator_nav.html' %}

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
              <th class="col-md-3"scope="col">かな</th>
              <th class="col-md-5" scope="col">いみ</th>
              <th class="col-md-1" scope="col">Tipo</th>
              <th class="col-md-1" scope="col">Fuente</th>
            </tr>
      </thead>
      <tbody>
        {% for word in words_list %}
        <tr class="{{ word.type_color }}">
          <th  scope="row">{{ word.hiragana }}</th>
          <td>{{ word.translation }}</td>
          <td>{{ word.type }}</td>
          <td>{% if word.source%} {{ word.source }} {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'includes/paginator_nav.html' %}

</div>

{% endblock %}
